.btn {
  display: block;
  background-color: $btn;
  width: 135px;
  height: 45px;
  border-radius: 5px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}
