.collection {
  @media (min-width: $mobile) {
    padding: 10px 10px 50px;
    margin: 0 auto;
    background-image: url("../img/wave.png");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop) {
    min-height: 1035px;
  }
}

.collection__text {
  width: 100px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  font-family: $title-font;
}

.collection__title {
  @media (min-width: $mobile) {
    font-family: $title-font;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
    width: fit-content;
    max-width: 65%;
    font-size: 65px;
    font-weight: 700;
    line-height: 58px;
  }
}

.collection__wrap {
  @media (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  flex-wrap: wrap;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.collection__list {
  @media (min-width: $mobile) {
    @include lst-none;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    margin: 47px 160px 0 230px;
    max-width: 30%;
  }
}

.collection__image {
  @media (min-width: $mobile) {
    width: 100%;
    height: auto;
  }

  @media (min-width: $tablet) {
    width: 33%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 40%;
    height: auto;
  }
}
