.container {
  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: 640px) {
    width: 100%;
  }

  @media (min-width: 1180px) {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 $green-ppch;
  }
}
