.emp-list {
  @media (min-width: $mobile) {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    margin: 55px auto 0;
    width: 76%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.emp-list__item {
  @media (min-width: $mobile) {
    width: 100%;
  }

  @media (min-width: $tablet) {
    width: 50%;
  }

  width: 31%;
  min-height: 472px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emp-list__img {
  width: 294px;
}

.emp-list__position {
  font-family: $title-font;
  font-size: 18px;
  line-height: 16px;
  margin-top: 25px;
}

.emp-list__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 32px;
  margin-top: 5px;
  flex-grow: 1;
}
