.footer {
  background-color: $bg-footer;
  padding: 88px 10px 30px;
}

.footer__wrap {
  @media (min-width: $mobile) {
    width: 100%;
  }
  width: 69%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer__title {
  @media (min-width: $mobile) {
    font-size: 36px;
    font-family: $title-font;
    width: 100%;
  }

  @media (min-width: $tablet) {
    width: 50%;
  }

  @media (min-width: $desktop) {
    width: unset;
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    min-width: 89%;
    height: 65px;
  }
}

.footer__wrap span {
  // padding-top: 10px;
  font-family: $default-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  flex-grow: 1;
  min-height: 65px;

  @media (min-width: $tablet) {
    text-align: right;
    padding-right: 17px;
  }
}
