.nav-list {
  @include lst-none;
  min-width: 105px;
  display: flex;
  flex-direction: column;
}

.nav-list__item {
  width: 100%;
  min-height: 36px;
  font-family: $default-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
