.team {
  @media (min-width: $mobile) {
    padding: 20px 10px 10px;
  }
  background-color: $bg-pink;
  padding-top: 140px;
  padding-bottom: 50px;
}

.team__subtitle {
  display: block;
  margin: 0 auto;
  font-family: $title-font;
  font-size: 18px;
  width: fit-content;
}

.team__title {
  @media (min-width: $mobile) {
    font-size: 36px;
    font-family: $title-font;
    width: 100%;
    margin: 0;
    line-height: normal;
  }

  margin: 5px auto 0;
  width: 50%;
  text-align: center;
  font-size: 65px;
  line-height: 58px;
}

.team__list {
  @include lst-none;
  margin: 0 auto;
}
