.title {
  @media (min-width: $mobile) {
    padding: 10px 10px;
    margin: 0 auto;
    background-image: url("../img/hero.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -50px;
    width: 100%;
    min-height: 400px;
  }

  @media (min-width: $tablet) {
    background-size: 700px auto;
    min-height: 500px;
    background-position: center 60px;
  }

  @media (min-width: $desktop) {
    min-height: 750px;
    padding: 90px 50px 0;
    background-position: center -60px;
    background-size: 100% 100%;
  }
}

.title__inner-wrap {
  @media (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  margin: 0 auto;
  width: 50%;
}

.title__pre-text {
  font-family: $title-font;
  font-size: 18px;
  margin-bottom: 0;
}

.title__title {
  @media (min-width: $mobile) {
    font-family: $title-font;
    text-align: center;
    font-size: 32px;
    width: 60%;
  }

  @media (min-width: $tablet) {
    font-size: 56px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop) {
    font-size: 94px;
    line-height: 88px;
  }
}

.title__description {
  @media (min-width: $mobile) {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 90%;
  }

  @media (min-width: $tablet) {
    max-width: 350px;
  }

  @media (min-width: $desktop) {
    margin: 100px 0 30px;
  }
}
