.title {
  @media (min-width: $mobile) {
    padding: 10px 10px;
    margin: 0 auto;
  }

  width: 100%;
  background-image: url("../img/hero.png");
  background-size: 320px auto;
  background-position: center 60px;
  background-repeat: no-repeat;
  min-height: 750px;
  padding: 90px 50px 0;
}

.title__inner-wrap {
  @media (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  margin: 0 auto;
  width: 50%;
}

.title__pre-text {
  font-family: $title-font;
  font-size: 18px;
  margin-bottom: 0;
}

.title__title {
  @media (min-width: $mobile) {
    font-family: $title-font;
    text-align: center;
    font-size: 32px;
    width: 60%;
  }

  @media (min-width: $tablet) {
    font-size: 56px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop) {
    font-size: 94px;
    line-height: 88px;
  }
}

.title__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 90%;
  margin: 100px 0 30px;
}
