@font-face {
  font-family: "Muller";
  src: url("../fonts/muller_regular.woff2") format("woff2"), url("../fonts/muller_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/muller_bold.woff2") format("woff2"), url("../fonts/muller_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
