* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: $white;
  font-family: $default-font;
  font-weight: normal;
  // box-shadow: 10px 10px 0 0 $black;
  // background-color: $bg-color;
}
