$white: #ffffff;
$black: #000000;
$btn: #f7859c;
// $bg-color: #e5e5e5;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$default-font: "Open-sans", "Arial", sans-serif;
$title-font: "Montserrat", "Arial", sans-serif;
