$white: #ffffff;
$black: #000000;
$green-ppch: #40afa7;
$bg-1: #e9d8a6;
$item: #ee9b00;
$in-txt: #005f73;
$item-brd: #ca6702;
$button-bg: #94d2bd;
$menu-bg: #0a9396;
$mobile: 320px;
$tablet: 640px;
$desktop: 1180px;
$default-font: "Muller", "Arial", sans-serif;
